.tweets {
  width: 100%;
  overflow-y: auto;
  max-height: 450px;
  padding: 0 0 1em 0;
  border-bottom: 0.1em solid #c3c3c3;

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.tweets-view-more {
  display: block;
}
