.table {
  width: 100%;
  overflow-y: auto;
  max-height: 200px;
  margin: 0;
  padding: 0;

  &.capitalize {
    text-transform: capitalize;
  }

  li {
    padding: 12px 0;
    display: flex;
    font-size: 1.4em;
    color: #000000;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:not(:last-child) {
      border-bottom: 0.1em solid #c3c3c3;
    }

    .key {
      flex-grow: 1;
      margin-right: 1em;
    }
    .value {
      display: flex;
      align-items: center;
    }
  }
}
