.tab-panel {
  margin-top: 1em;

  &[data-hidden],
  > *:global([data-hidden]) {
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.tab-panel-loading {
  text-align: center;
  margin: 2.5em 0;
}

.tab-panel-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  gap: 1em;
}

.tab-panel-rows {
  display: block;
}
