.country-table {
  overflow-y: auto;
  margin: 0;
  padding: 0 1.25em 0 0;
  border-bottom: 0.1em solid #c3c3c3;
}

.country-table-item {
  gap: 1em;
  padding: 0.85em 0;
  display: flex;
  border-bottom: 0.1em solid #c3c3c3;

  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}

.country-table-item-key {
  flex: 1;
  text-transform: capitalize;
}

.country-table-item-value {
  flex-shrink: 0;
  text-align: right;
}
