.loading {
  display: flex;
  height: 6.8em;
  align-items: center;
  justify-content: center;
}

.navigation {
  ul {
    display: flex;
    overflow-y: auto;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }

      button {
        border: 0.1em solid transparent;
        background: transparent;
        padding: 1em;
        border-radius: 0.4em;
        min-width: 10em;
        text-align: center;
        font-size: inherit;
        transition: background-color 0.2s;
        height: 100%;

        &.active,
        &:hover {
          cursor: pointer;
          background: #edf0fb;
          background: rgba(80, 108, 211, 0.1);
        }
        &:focus {
          border-color: #506bd3;
          outline: none;
        }

        .count {
          color: #506cd3;
          font-size: 2em;
          font-weight: 600;
          margin-bottom: 0.3em;
        }

        .label {
          color: #000000;
          font-size: 1.4em;
        }
      }
    }
  }
}
