.twitter-tweet {
  min-height: 220px;
  max-width: 550px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  margin-bottom: 10px;

  &:global(.hidden) {
    opacity: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    min-height: 0;
  }
}
