.table-row {
  display: table-row;

  &:nth-child(2n-1) td {
    background: #f9f9f9;

    &:first-of-type {
      border-top-left-radius: 1.1em;
      border-bottom-left-radius: 1.1em;
    }

    &:last-of-type {
      border-top-right-radius: 1.1em;
      border-bottom-right-radius: 1.1em;
    }
  }
}
