.navigation {
  display: flex;
  overflow-y: auto;
  gap: 0.5em;
}

.navigation-button {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.2em 1em;
  border-radius: 0.4em;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
  min-width: 135px;

  &:hover,
  &:global(.active) {
    background-color: var(--color-primary-light, #edf0fb);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary-dark, #506bd3);
  }

  // Allows us to have things aligned in the center; using `justify-content` in the
  // parent doesn't work if the buttons end up being wider than the parent.
  &:first-of-type {
    margin-left: auto;
  }
  &:last-of-type {
    margin-right: auto;
  }
}

.navigation-count {
  color: var(--color-primary, #506cd3);
  font-size: larger;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.navigation-name {
  color: #000;
}
