.navigation {
  display: flex;
  overflow-y: auto;
  padding: 0;
}

.navigation-button {
  border: 0.1em solid transparent;
  background-color: transparent;
  padding: 0.2em 1em;
  border-radius: 0.4em;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-align: center;
  font-size: inherit;

  &:not(:last-child) {
    margin-right: 0.5em;
  }

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  &:global(.active),
  &:hover {
    cursor: pointer;
    background-color: #edf0fb;
  }

  &:focus {
    border-color: #506bd3;
    outline: none;
  }
}

.navigation-count {
  color: #506cd3;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.navigation-name {
  color: inherit;
}
