.line-graph {
  :global(.apexcharts-xaxistooltip) {
    display: none;
  }

  :global(.apexcharts-tooltip) {
    border: 1px solid #ccc;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    :global(.apexcharts-tooltip-title) {
      display: none;
    }

    :global(.apexcharts-tooltip-series-group) {
      padding: 1.1em;
      pointer-events: none;
      background: #ffffff;
      border-radius: 0.5em;
      color: #3c4043;
      font-size: 0.8em;

      :global(.apexcharts-tooltip-y-group) {
        padding: 0;
      }

      :global(.apexcharts-tooltip-text-label) {
        text-transform: capitalize;
      }

      :global(.apexcharts-tooltip-text-value) {
        margin-left: 2em;
        font-weight: 600;
      }

      :global(.apexcharts-tooltip-marker) {
        display: none;
      }
    }
  }
}
